<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
      <!-- Top navbar -->
      <% include ../partials/navbar %>
  
      <div class="bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
  
          <h1 class="text-white">Update categories</h1>
              <form class="text-white" action="/blogs/update-category/<%= catData._id  %>" method="post">
                <div class="mb-3">
                  <label for="exampleInputname4" class="form-label"
                    >Category Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputname4"
                    aria-describedby="emailHelp"
                    name="categoryName"
                    value="<%= catData.categoryName  %>"
                    required
                  />
                </div>

                <div class="from-gropup">
                  <button type="submit" class="btn btn-white">Update category</button>
                  <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
              </form>
            
   
        </div>
      </div>
  
      <!-- <div class="container-fluid mt--3">
  
        <% include ../partials/footer %>
      </div> -->
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd3PjUqq81lIOfBPYXrQGWwK5T4ystZjA"></script>
  
    <!-- Include scripts -->
    <% include ../partials/scripts %>
  </body>
  